<section class="py-16 bg-brand text-white" id="contact">
    <div class="container" data-aos="fade-right" data-aos-delay="50">
        <h2>Contact Us</h2>
        <div class="contact-info" >
            <p data-aos="fade-left" data-aos-delay="50"><strong>Address:</strong> 123 Dummy Street, Fake City, Country</p>
            <p data-aos="fade-right" data-aos-delay="50"><strong>Phone:</strong> +1 (234) 567-890</p>
            <p data-aos="fade-left" data-aos-delay="50"><strong>Email:</strong> contact&#64;dummy.com</p>
            <p data-aos="fade-right" data-aos-delay="50"><strong>Working Hours:</strong> Mon - Fri, 9:00 AM - 5:00 PM</p>
        </div>
    </div>
</section>