<section id="vendor" class="container shadow-sm">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="fw-semibold">USERS</h2>
    <button
      type="button"
      (click)="addUser()"
      class="btn btn-dark rounded-circle px-3 py-2"
      ngbPopover="Add Clients"
      triggers="mouseenter:mouseleave"
    >
      +
    </button>
  </div>
  <hr />
  <div class="row">
    <div
      *ngFor="let vendor of users; let i = index"
      class="col-12 col-sm-6 col-md-4 col-lg-2"
    >
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <img
            [src]="vendor.image"
            alt="Vendor Image"
            class="img-fluid rounded-circle mb-2"
            style="width: 80px; height: 80px"
          />
          <h5 class="card-title">{{ vendor.user_name }}</h5>
          <p class="text-muted">{{ vendor.phone }}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary btn-sm" (click)="editUser(vendor)">
              Manage
            </button>
            <button (click)="deleteUser(i)" class="btn btn-danger btn-sm">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-edit-user-details></app-edit-user-details>
