<div class="d-flex" style="margin-top: 60px">
  <!-- Sidebar -->
  <div
    class="w-25 bg-white shadow-lg overflow-auto sidebar mt-4"
    style="margin-left: 5px"
  >
    <div class="p-3 border-bottom">
      <h1 class="h5 font-weight-bold">INVOICES</h1>
    </div>
    <!-- Search Bar -->

    <ul class="list-unstyled p-3">
      <div class="d-flex justify-content-center my-3">
        <form [formGroup]="searchForm">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              formControlName="search"
            />
          </div>
        </form>
      </div>
      <li
        *ngFor="let invoice of filteredInvoices"
        class="p-2 bg-light rounded mb-2"
        style="cursor: pointer"
        (click)="selectInvoice(invoice)"
      >
        {{ invoice.customer_contact }}_{{ invoice.invoice_date }}
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-fill p-4" #main_section>
    <div class="bg-white p-5 shadow-lg position-relative main-content">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h2 class="h5 font-weight-bold">{{ company.name }}</h2>
          <p>{{ company.address }}</p>
          <p>{{ company.city }}</p>
          <p>Phone: {{ company.phone }}</p>
        </div>
        <div class="text-right">
          <h2 class="h4 font-weight-bold">INVOICE</h2>
          <p>Invoice #: {{ invoiceDetails.id }}</p>
          <p>Date: {{ invoiceDetails.date }}</p>
        </div>
      </div>

      <div class="mb-4">
        <h3 class="font-weight-bold">BILL TO:</h3>
        <p>{{ client.name }}</p>
        <p>Phone: {{ client.phone }}</p>
      </div>

      <table class="table table-bordered mb-4">
        <thead>
          <tr>
            <th class="text-left">DESCRIPTION</th>
            <th class="text-right">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of invoiceDetails.items">
            <td>{{ item.description }}</td>
            <td class="text-right">${{ item.amount.toFixed(2) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right font-weight-bold">TOTAL</td>
            <td class="text-right font-weight-bold">${{ getTotal() }}</td>
          </tr>
        </tfoot>
      </table>

      <p class="text-center font-weight-bold">Thank you for your business!</p>
      <p class="text-center text-muted mt-4">
        If you have any questions about this invoice, please contact
      </p>
      <p class="text-center text-muted">
        Bipul Sardar, +91-7749879756, bipulsardar&#64;gmail.com
      </p>
    </div>
  </div>

  <div class="l">
    <div class="position-absolute" style="bottom: 16px; right: 16px">
      <button class="btn btn-light" (click)="printInvoice()">
        <i class="fas fa-print"></i> Print
      </button>
    </div>
  </div>
</div>
