
<ng-template #editModal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Edit User Details</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
          required
          pattern="^\d{10}$"
        />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea
          class="form-control"
          id="address"
          formControlName="address"
        ></textarea>
      </div>
      <div class="mb-3">
        
        <div *ngIf="previewUrl || (isImageString() && editForm.get('image')?.value)">
          <img
            [src]="previewUrl || editForm.get('image')?.value"
            alt="User Image"
            height="120px"
            width="120px"
            class="mb-2"
          />
        </div>
        <label for="image" class="form-label">Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          (change)="onFileChange($event)"
          accept="image/*"
        />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" id="status" formControlName="status">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onSubmit()"
      [disabled]="editForm.invalid"
    >
      Save
    </button>
  </div>
</ng-template>