.navbar {
  padding: 10px 20px;
}

.dropdown-menu {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.rounded-circle {
  object-fit: cover;
}

.search-bar {
  position: relative;
  width: 250px;
}

.search-bar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

#navbar-brand {
  position: relative;
  text-decoration: none;
}

.popover-text {
  visibility: hidden;
  position: absolute;
  left: 100%;
  bottom: -35px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#navbar-brand:hover .popover-text {
  visibility: visible;
  opacity: 1;
}
